FB_ACCESS_TOKEN=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
OPENAI_KEY=sk-
FROM_WHATSAPP=+
TO_WHATSAPP=+
OPENAI_EMAIL=
OPENAI_PASSWORD=
MESSAGING_PROVIDER=
FB_BASE_URL=https://graph.facebook.com
FB_VERSION=v15.0
FB_PHONE_NUMBER_ID=
ACCESS_TOKEN=
